include datafake.pug
.wrapper_cart.container-fluid.px-3
    .title-inside-page.my-3
            .d-flex.align-items-center
                a.info-outside(href="#") HOME
                .icon-inside.px-2
                    <i class="fas fa-chevron-right"></i>
                a.info-inside(href="#") CART
    .content_cart
        .row
            .col-lg-8.mt-3
                each item in listOfferSupplierItem
                    .product-item_cart
                        .box-item_cart
                            .img-item_cart
                                img(src=item.imgInfo)
                            .box-info-item_cart
                                .row.m-0
                                    .col-sm-8
                                        .info-item_cart
                                            .title-item_cart
                                                a(href="#")
                                                    h2=item.name
                                            .provided-item_cart.my-2
                                                p Thương hiệu: 
                                                    a.pl-2(href="#")
                                                        img(src=item.logo, alt="")
                                            .function-item_cart.d-flex.my-2
                                                button.btn-delete-item_cart.mr-4 Xóa
                                                a(href="#") Mua sau
                                    .col-sm-4
                                        .price-item_cart.text-right
                                            .sale-off-item_cart.justify-content-between.w-100
                                                strike=item.price + 'đ'
                                                p.text-red.current-price-item_cart=item.priceSale + 'đ'
                                            .amount-item_cart.d-flex.justify-content-end.mt-2.w-100
                                                //- span.amount-box.d-flex.align-items-center
                                                //-     button( data-multi="-1").handle-amount -
                                                //-     input(type="text" value="1").amount-number
                                                //-     button( data-multi="1").handle-amount +
                                                input#spinner(type='number', pattern='[0-9]*', name='value', value='1', min='1', step='1', maxlength='3')
                a.my-3(href="#") Bạn có muốn tiếp tục mua sắm?                       
            .col-lg-4.mt-3
                .total-price_cart.bg-white.px-3
                    .total-price_top.d-flex.justify-content-between.p-3
                        p Tạm tính:
                        p 6.050.000đ
                    .total-price_main.d-flex.justify-content-between.p-3
                        p Thành tiền:
                        strong.d-block.text-right.text-red 6.050.000đ
                    .promotion-code.p-3
                        p Apply coupon
                        .apply-code.my-2.d-flex
                            input(type="text")
                            button(type="submit") Apply
                .btn-order.mt-2.text-right
                    button.btn_order Tiến hành đặt hàng